#!/usr/bin/make -f

PREFIX = debian/python-celery
PREFIX3 = debian/python3-celery
PREFIXC = debian/python-celery-common

export PYBUILD_NAME=celery

%:
	dh $@ --with python2,python3,sphinxdoc --buildsystem=pybuild

override_dh_installman:
	set -e ; \
	for doc in celery camqadm celerybeat celeryd-multi celeryd celeryev celeryctl; do \
	  docbook-to-man debian/manpage.$$doc.sgml > $$doc.1; \
	done
	dh_installman

override_dh_auto_build:
	PYTHONPATH=.:$$PYTHONPATH sphinx-build -b html -d .build/.doctrees -N docs .build/html
	ln docs/images/celery_128.png .build/html/_images/celery_128.png
	dh_auto_build

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	set -e; \
	for python in $(shell pyversions -r); do \
	  rm -f test.db ; \
	  PYTHONPATH=. LC_ALL=C.UTF-8 $$python setup.py test ; \
	done
	set -e; \
	for python in $(shell py3versions -r); do \
	  rm -f test.db ; \
	  PYTHONPATH=. LC_ALL=C.UTF-8 $$python setup.py test ; \
	done
endif

override_dh_clean:
	rm -rf .build
	dh_clean

override_dh_auto_install:
	dh_auto_install
	set e; for FILENAME in celery celerybeat celeryd celeryd-multi; do \
	  rm $(PREFIX)/usr/bin/$$FILENAME; \
	  rm $(PREFIX3)/usr/bin/$$FILENAME; \
	done
	rmdir --ignore-fail-on-non-empty --parents $(PREFIX)/usr/bin $(PREFIX3)/usr/bin

override_dh_install:
	dh_install
	# Fix permissions
	set e; for FILENAME in celery celerybeat celeryd celeryd-multi; do \
	  chmod 755 $(PREFIXC)/usr/bin/$$FILENAME; \
	done

override_dh_installinit:
	ln extra/generic-init.d/celerybeat debian/celeryd.celerybeat.init
	ln extra/generic-init.d/celeryd debian/celeryd.celeryd.init
	dh_installinit --name celerybeat
	dh_installinit --name celeryd

override_dh_installchangelogs:
	dh_installchangelogs Changelog
